# compiled output
node_modules
**/node_modules
dist
packages/shared/dist
# Compiled JS files in src directories (should only be in dist)
**/src/**/*.js

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace