# Same database as other services (single postgres)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

# Set to false if you create schema via migrations (default: true = create/update tables from entities)
# SEEDER_SYNCHRONIZE=false
