PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=pharma_identitydb
JWT_SECRET=your_jwt_secret_here

ELASTICSEARCH_NODE=http://localhost:9200
AUDIT_ELASTIC_INDEX_PREFIX=pharma-audit
