NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=123
DATABASE_NAME=pharma_manufacturingdb
PORT=3006



QUALITY_CONTROL_SERVICE_HOST=localhost
QUALITY_CONTROL_SERVICE_PORT=3003

WAREHOUSE_SERVICE_HOST=localhost
WAREHOUSE_SERVICE_PORT=3005

ELASTICSEARCH_NODE=http://localhost:9200
AUDIT_ELASTIC_INDEX_PREFIX=pharma-audit
