NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=123
DATABASE_NAME=pharma_shippmentdb
PORT=3008


SALES_ORDER_SERVICE_HOST=localhost
SALES_ORDER_SERVICE_PORT=3007

WAREHOUSE_SERVICE_HOST=localhost
WAREHOUSE_SERVICE_PORT=3005

# Optional: Winston -> Elasticsearch audit sink
ELASTICSEARCH_NODE=http://localhost:9200
AUDIT_ELASTIC_INDEX_PREFIX=pharma-audit